* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 5px solid transparent;
    text-align: center;
    height: 100vh;
    position: relative;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #8d7147; 
    border-radius: 15px;
    text-align: center;
    margin: 1.5rem;
    padding: 1em;
}

.photos-flex {
    display: flex;
    border-radius: 15px;
    background-color: rgb(197, 175, 153);
    justify-content: space-between;
    margin: 10px;
}

.photoSize {
    height: 300px; 
    padding: 10px;
}

.text-flex{
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

.flexbox-container {
    display: flex;
    width: 100%;
    /* position: absolute; */
    justify-content: space-around;
    /* bottom: 0px; */
    
}


.box {
    width: 100%;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    background-color: #8d7147;
    border-width: 4px;
    border-style: solid; 
    border-color: #483a25;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    margin: 5px;
}

.box:hover{
    background-color: #6f5937;
}
